/* ! base16 Material Palenight
! Scheme author: Nate Peterson
! Template author: Tinted Theming (https://github.com/tinted-theming) */

:root {
--base00: #292d3e;
--base01: #444267;
--base02: #32374d;
--base04: #8796b0;
--base05: #959dcb;
--base06: #959dcb;
--base07: #ffffff;
--base08: #f07178;
--base09: #f78c6c;
--base0A: #ffcb6b;
--base0B: #c3e88d;
--base0C: #89ddff;
--base0D: #82aaff;
--base0E: #c792ea;
--base0F: #ff5370;
}