/* ! base16 Ayu Mirage
! Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
! Template author: Tinted Theming (https://github.com/tinted-theming) */

:root {
--base00: #171b24;
--base01: #1f2430;
--base02: #242936;
--base04: #8a9199;
--base05: #cccac2;
--base06: #d9d7ce;
--base07: #f3f4f5;
--base08: #f28779;
--base09: #ffad66;
--base0A: #ffd173;
--base0B: #d5ff80;
--base0C: #95e6cb;
--base0D: #5ccfe6;
--base0E: #d4bfff;
--base0F: #f29e74;
}